# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,2019-03-04 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2019-02-24 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2019-02-10 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,2019-03-06 4:28,34.58,3.908450e+12,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [4]:
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [55]:
urban_cities_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,2019-03-04 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2019-02-24 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2019-02-10 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,2019-03-06 4:28,34.58,3.908450e+12,46,Urban
...,...,...,...,...,...,...
1620,Reynoldsfurt,2019-02-14 11:25,39.40,9.070690e+12,67,Urban
1621,Christopherfurt,2019-03-13 1:47,32.05,2.788820e+12,41,Urban
1622,Raymondhaven,2019-03-20 2:20,38.53,8.658260e+12,11,Urban
1623,Port Johnbury,2019-03-26 7:22,7.63,8.089280e+12,3,Urban
1624,West Gabriel,2019-05-05 1:24,27.57,4.428770e+12,57,Urban

In [68]:
#  1. Get the total rides for each city type
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.head()

city
Amandaburgh        18
Barajasview        22
Carriemouth        27
Christopherfurt    27
Deanville          19
Name: ride_id, dtype: int64

In [67]:
Total_urban_ride_count_df = urban_ride_count.sum()
Total_urban_ride_count_df

ride_id    1625
dtype: int64

In [7]:
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count.head()

city
Barronchester    16
Bethanyland      18
Brandonfort      19
Colemanland      22
Davidfurt        17
Name: ride_id, dtype: int64

In [8]:
Total_suburban_ride_count_df = suburban_ride_count.sum()
Total_suburban_ride_count_df

625

In [9]:
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count.head()

city
Bradshawfurt      10
Garzaport          3
Harringtonfort     6
Jessicaport        6
Lake Jamie         6
Name: ride_id, dtype: int64

In [10]:
Total_rural_ride_count_df = rural_ride_count.sum()
Total_rural_ride_count_df

125

In [11]:
# 2. Get the total drivers for each city type
urban_driver_count = urban_cities_df.groupby(["city"]).sum()["driver_count"]
urban_driver_count.head()

city
Amandaburgh         216
Barajasview         572
Carriemouth        1404
Christopherfurt    1107
Deanville           931
Name: driver_count, dtype: int64

In [12]:
#Total number should be 2405
Total_urban_driver_count_df = urban_driver_count.sum()
Total_urban_driver_count_df

59602

In [13]:
suburban_driver_count = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
suburban_ride_count.head()

city
Barronchester    16
Bethanyland      18
Brandonfort      19
Colemanland      22
Davidfurt        17
Name: ride_id, dtype: int64

In [14]:
#Total number should be 490
Total_suburban_driver_count_df = suburban_driver_count.sum()
Total_suburban_driver_count_df

8570

In [15]:
rural_driver_count = rural_cities_df.groupby(["city"]).sum()["driver_count"]
rural_driver_count.head()

city
Bradshawfurt      70
Garzaport         21
Harringtonfort    24
Jessicaport        6
Lake Jamie        24
Name: driver_count, dtype: int64

In [16]:
#Total number should be 78
Total_rural_driver_count_df = rural_driver_count.sum()
Total_rural_driver_count_df

537

In [17]:
#  3. Get the total amount of fares for each city type
urban_total_fares = urban_cities_df.groupby(["city"]).sum()["fare"]
urban_total_fares.head()

city
Amandaburgh        443.55
Barajasview        557.31
Carriemouth        764.49
Christopherfurt    661.55
Deanville          491.01
Name: fare, dtype: float64

In [18]:
#Total urban fares is 39854.38
Total_urban_fares_df = urban_total_fares.sum()
Total_urban_fares_df

39854.38000000001

In [19]:
suburban_total_fares = suburban_cities_df.groupby(["city"]).sum()["fare"]
suburban_total_fares.head()

city
Barronchester    582.76
Bethanyland      593.21
Brandonfort      673.31
Colemanland      679.68
Davidfurt        543.93
Name: fare, dtype: float64

In [20]:
#Total suburban fares is 19356.33
Total_suburban_total_fares_df = suburban_total_fares.sum()
Total_suburban_total_fares_df

19356.33

In [21]:
rural_total_fares = rural_cities_df.groupby(["city"]).sum()["fare"]
rural_total_fares.head()

city
Bradshawfurt      400.64
Garzaport          72.37
Harringtonfort    200.82
Jessicaport       216.08
Lake Jamie        206.15
Name: fare, dtype: float64

In [22]:
#Total rural fares is 4327.93
Total_rural_total_fares_df = rural_total_fares.sum()
Total_rural_total_fares_df

4327.93

In [23]:
#  4. Get the average fare per ride for each city type. 
#calculate the average fare per ride by city type by dividing the sum of all the fares by the total rides.
urban_avg_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
urban_avg_fare.head()

city
Amandaburgh        443.55
Barajasview        557.31
Carriemouth        764.49
Christopherfurt    661.55
Deanville          491.01
Name: fare, dtype: float64

In [24]:
Total_average_urban_fare_df= urban_avg_fare.sum()
Total_average_urban_fare_df

39854.38000000001

In [25]:
#Total number should be 24.525772= 39854.38/1625 
Average_urban_Fare_per_ride_df = Total_average_urban_fare_df / Total_urban_ride_count_df
Average_urban_Fare_per_ride_df

24.525772307692314

In [26]:
suburban_avg_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]
suburban_avg_fare.head()

city
Barronchester    582.76
Bethanyland      593.21
Brandonfort      673.31
Colemanland      679.68
Davidfurt        543.93
Name: fare, dtype: float64

In [27]:
Total_average_suburban_fare_df = suburban_avg_fare.sum()
Total_average_suburban_fare_df

19356.33

In [28]:
#Total number should be 30.970128 = 19356.33 / 625
Average_suburban_Fare_per_ride_df = Total_average_suburban_fare_df / Total_suburban_ride_count_df
Average_suburban_Fare_per_ride_df

30.970128000000003

In [29]:
rural_avg_fare = rural_cities_df.groupby(["city"]).sum()["fare"]
rural_avg_fare.head()

city
Bradshawfurt      400.64
Garzaport          72.37
Harringtonfort    200.82
Jessicaport       216.08
Lake Jamie        206.15
Name: fare, dtype: float64

In [30]:
Total_average_rural_fare_df = rural_avg_fare.sum()
Total_average_rural_fare_df

4327.93

In [31]:
#Total number should be 34.623440 = 4327.93 / 125
Average_rural_Fare_per_ride_df = Total_average_rural_fare_df / Total_rural_ride_count_df
Average_rural_Fare_per_ride_df

34.62344

In [32]:
# 5. Get the average fare per driver for each city type.
#calculate the average fare per driver by city type by dividing the sum of all the fares by the total drivers.

In [33]:
#Total number should be 16.571468 = 39854.38 / 2405
Average_urban_Fare_per_driver_df = Total_average_urban_fare_df / Total_urban_driver_count_df
Average_urban_Fare_per_driver_df

0.6686752122412002

In [34]:
#Total number should be 39.502714 = 19356.33 / 490
Average_suburban_Fare_per_driver_df = Total_average_suburban_fare_df / Total_suburban_driver_count_df
Average_suburban_Fare_per_driver_df

2.2586149358226373

In [35]:
#Total number should be 55.486282 = 4327.93 / 78
Average_rural_Fare_per_driver_df = Total_average_rural_fare_df / Total_rural_driver_count_df
Average_rural_Fare_per_driver_df

8.059459962756053

In [39]:
per_city_types = city_data_df.set_index(["city"])["type"]
#per_total_rides

In [41]:
#  6. Create a PyBer summary DataFrame with all the data gathered from Steps 1-5, using the column names shown below
pyber_summary_df = pd.DataFrame(
          [{ "Total Rides": per_city_types,
          "Total Rides": Total_urban_ride_count_df, 
          "Total Drivers": Total_urban_driver_count_df, 
          "Total Fares": Total_urban_fares_df,
          "Average Fare per Ride": Average_urban_Fare_per_ride_df, 
          "Average Fare per Driver": Average_urban_Fare_per_driver_df}])

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
0,1625,59602,39854.38,24.525772,0.668675

In [42]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [43]:
#  8. Format the columns.
pyber_summary_df

pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:,}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,}".format)
# Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:.1f}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:.1f}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("{:.1f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("{:.1f}".format)
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("{:.1f}".format)

pyber_summary_df

ValueError: Unknown format code 'f' for object of type 'str'

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [64]:
# 1. Read the merged DataFrame
new_pyber_data_df = pd.merge(ride_data_df, pyber_data_df, how="left", on=["type", "date"])
new_pyber_data_df

KeyError: 'type'

In [65]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
sum_of_fares_df = pyber_data_df.groupby(["type", "date"]).sum()[["fare"]]
sum_of_fares_df

                         fare
type  date
Rural 2019-01-01 9:45   43.69
      2019-01-02 11:18  52.12
      2019-01-03 19:51  19.90
      2019-01-04 3:31   24.88
      2019-01-06 7:38   47.33
...                       ...
Urban 2019-05-08 1:54   32.69
      2019-05-08 2:31   41.33
      2019-05-08 4:20   21.99
      2019-05-08 4:39   18.45
      2019-05-08 7:29   18.55

[2364 rows x 1 columns]

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')